@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Stolzl";
    src: url("./assets/fonts/Stolzl-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl Book";
    src: url("./assets/fonts/Stolzl-Book.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("./assets/fonts/Stolzl-Light.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("./assets/fonts/Stolzl-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("./assets/fonts/Stolzl-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Stolzl";
    src: url("./assets/fonts/Stolzl-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF-Pro-Display";
    src: url("./assets/fonts/SFProDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF-Pro-Display";
    src: url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "Stolzl";
  }

  h1 {
    font-size: 7.5rem;
    font-weight: 100;
    opacity: 0.73;
    color: white;
    line-height: 100%;
  }

  .subtitle {
    font-weight: 100;
    opacity: 0.73;
    font-size: 1.875rem;
    color: white;
    line-height: 1.2;
  }

  .small {
    font-size: 1rem;
    opacity: 0.73;
    font-weight: 200;
    color: black;
    line-height: normal;
  }

  .small-white {
    font-size: 1rem;
    opacity: 0.73;
    font-weight: 100;
    color: white;
  }

  .title {
    font-family: "Stolzl Book";
    color: black;
    opacity: 0.73;
    font-size: 1.625rem;
  }

  .link {
    font-family: "Stolzl Book";
    color: white;
    opacity: 0.73;
    font-size: 2.0625rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .link-blue {
    font-family: "Stolzl Book";
    opacity: 0.99;
    color: #0070b7;
    font-size: 1.375rem;
  }

  .regular {
    color: black;
    opacity: 0.75;
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 1.15;
  }

  .regular-22 {
    color: black;
    opacity: 0.75;
    font-weight: 200;
    font-size: 1.375rem;
    line-height: 1.15;
  }

  .stolzl-book {
    font-family: "Stolzl Book";
  }

  .regular-regular {
    font-weight: 400;
  }

  .regular p {
    opacity: 0.75;
  }

  @media (max-width: 450px) {
    h1 {
      font-size: 4.375rem;
      opacity: 0.8;
    }

    .title {
      font-size: 1.125rem;
    }

    .subtitle {
      font-size: 1.125rem;
      font-weight: 200;
      line-height: 1.25;
    }

    .regular {
      font-size: 1rem;
      line-height: 1.2;
    }

    .small {
      font-size: 0.75rem;
    }

    .link-blue {
      font-size: 1rem;
    }
  }
}

@layer components {
  .pain {
    padding: 1.125rem 1.75rem 1.125rem 2.375rem;
    background-color: #626262;
    border-radius: 1.875rem 1.875rem 1.875rem 0rem;
    width: fit-content;
    height: fit-content;
    position: relative;
  }

  .pain p {
    font-size: 1rem;
    opacity: 0.73;
    font-weight: 200;
    color: white;
    line-height: normal;
  }

  .pain-right {
    padding: 1.125rem 2.375rem 1.125rem 1.75rem;
    border-radius: 1.875rem 1.875rem 0rem 1.875rem;
  }

  .pain-white {
    background-color: #e8eae7;
  }

  .pain-white p {
    color: #303030;
    font-size: 1.25rem;
    font-family: "Stolzl Book";
  }

  .pain-talks p {
    font-size: 1rem;
  }

  .pain-talks {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: rgba(232, 234, 231, 0.7);
  }

  .pain-talks-bottom {
    background-color: rgba(232, 234, 231, 0.6);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .pain-talks-bottom p {
    font-size: 1.25rem;
  }

  .message-block {
    display: flex;
    flex-direction: row;
    column-gap: -14rem;
    position: relative;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  .brain-red {
    left: -6%;
    top: -3%;
  }

  .brain-green {
    right: -6%;
    top: -3%;
  }

  .comment-block {
    display: flex;
  }

  .comment {
    display: flex;
    flex-direction: column;
    z-index: 15;
  }

  .comment-header {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.65);
    border-radius: 1.8125rem 1.8125rem 0 0;
  }

  .comment-header-name {
    display: flex;
    flex-direction: row;
    gap: 1rem /* 16px */;
    align-items: center;
  }

  .author {
    font-family: "SF-Pro-Display";
    font-weight: 400;
    font-size: 1.3125rem;
    color: rgba(91, 91, 91, 0.8);
  }

  .box-shadow {
    box-shadow: 0px 0.25rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  }

  .box-shadow-talks {
    box-shadow: 0px 0.25rem 0.2rem 0px rgba(0, 0, 0, 0.15);
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2.5rem 1.5rem 2.5rem;
    border-radius: 0 0pain-tal 1.8125rem 1.8125rem;
    background-color: rgba(213, 213, 212, 0.8);
  }

  .quote {
    font-family: "SF-Pro-Display";
    font-weight: 500;
    font-size: 1.125rem;
    color: #5b5b5b;
    line-height: 1.2;
  }

  .sofia-icon {
    width: 22.375rem;
    height: 22.375rem;
    margin-left: 24.5rem;
    margin-top: 3.8rem;
    position: absolute;
  }

  @media (min-width: 451px) {
    .pain:hover:nth-child(odd) {
      animation: slide-left 1s ease-in-out infinite alternate;
    }

    .pain:hover:nth-child(even) {
      animation: slide-right 1s ease-in-out infinite alternate;
    }

    .pain:hover {
      background-color: #7e82f6;
    }

    .pain-white:hover:nth-child(odd) {
      animation: slide-left 1s ease-in-out infinite alternate;
    }

    .pain-white:hover:nth-child(even) {
      animation: slide-right 1s ease-in-out infinite alternate;
    }

    .pain-white:hover {
      background-color: #7e82f6;
    }

    @keyframes slide-right {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-4px);
      }
    }

    @keyframes slide-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(4px);
      }
    }
  }

  @media (max-width: 450px) {
    .pain {
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 3.175rem 1.875rem 1.875rem 0rem;
    }

    .pain-right {
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 1.875rem 3.175rem 0rem 1.875rem;
    }

    .pain-white {
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }

    .pain-white p {
      font-family: "Stolzl Book";
      font-size: 1.125rem;
    }

    .pain-talks {
      padding: 1.125rem 1.75rem 1.125rem 2.375rem;
      border-radius: 1.875rem 1.875rem 1.875rem 0rem;
    }

    .pain-talks-right {
      border-radius: 1.875rem 1.875rem 0rem 1.875rem;
      padding: 1.125rem 1.75rem 1.125rem 2.375rem;
    }

    .pain-talks p {
      font-size: 1rem;
    }

    .pain-talks-20 p {
      font-size: 1.25rem;
    }

    .pain-talks-small-padding {
      padding: 0.5rem 1rem 0.5rem 1.25rem;
    }

    .pain-talks-large-padding {
      padding: 0.5rem 1.9375rem 0.5rem 2.1875rem;
    }

    .comment-content {
      padding: 1rem 1.25rem 1.5rem 1.25rem;
    }

    .comment-content-talks {
      padding: 1rem 2.5rem 1.5rem 2.5rem;
    }

    .comment-header {
      padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    }

    .comment-header-talks {
      padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    }

    .author {
      font-size: 1rem;
    }

    .author-talks {
      font-size: 1.3125rem;
    }

    .sofia-icon {
      width: 16.875rem;
      height: 16.875rem;
      margin-left: 8.75rem;
      margin-top: -3.125rem;
    }

    .quote {
      font-size: 1rem;
      line-height: 1.2;
    }

    .quote-talks {
      font-size: 1.125rem;
      line-height: 1.15;
    }

    .stolzl {
      font-family: "Stolzl";
    }
  }
}

@layer utilities {
  .decimal {
    list-style-type: decimal;
  }

  .margin-top-16 {
    margin-top: 1rem;
  }

  .margin-bottom-16 {
    margin-bottom: 1rem;
  }

  .margin-top-24 {
    margin-top: 1.5rem;
  }

  .margin-top-32 {
    margin-top: 2rem;
  }

  .margin-top-48 {
    margin-top: 3rem;
  }

  .margin-top-8 {
    margin-top: 0.5rem;
  }

  .margin-bottom-8 {
    margin-bottom: 0.5rem;
  }

  .margin-left-69 {
    margin-left: 4.3125rem;
  }

  .margin-right-107 {
    margin-right: 6.6875rem;
  }

  .margin-left-108 {
    margin-left: 6.75rem;
  }

  .margin-right-108 {
    margin-right: 6.75rem;
  }

  .margin-left-60 {
    margin-left: 3.75rem;
  }

  .margin-left-30 {
    margin-left: 1.875rem;
  }

  .margin-left-32 {
    margin-left: 2rem;
  }

  .margin-right-90 {
    margin-right: 5.625rem;
  }

  .margin-left-16 {
    margin-left: 1rem;
  }

  .margin-left-13 {
    margin-left: 0.8125rem;
  }

  .margin-right-16 {
    margin-right: 1rem;
  }

  .margin-top-8 {
    margin-top: 0.5rem;
  }

  .margin-right-64 {
    margin-right: 4rem;
  }

  .margin-right-8 {
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 450px) {
    .decimal {
      line-height: 1.625rem;
    }
  }
}

.pain-opacity {
  transition: opacity 1s ease;
  opacity: 0.8;
}

.pain-opacity-0 {
  transition: opacity 1.3s ease-in;
  opacity: 0%;
}
