*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

@font-face {
  font-family: "Stolzl";

  src: url("./assets/fonts/Stolzl-Bold.woff2") format("woff2");

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Stolzl Book";

  src: url("./assets/fonts/Stolzl-Book.woff2") format("woff2");

  font-weight: 300;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Stolzl";

  src: url("./assets/fonts/Stolzl-Light.woff2") format("woff2");

  font-weight: 200;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Stolzl";

  src: url("./assets/fonts/Stolzl-Medium.woff2") format("woff2");

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Stolzl";

  src: url("./assets/fonts/Stolzl-Thin.woff2") format("woff2");

  font-weight: 100;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "Stolzl";

  src: url("./assets/fonts/Stolzl-Regular.woff2") format("woff2");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "SF-Pro-Display";

  src: url("./assets/fonts/SFProDisplay-Medium.woff2") format("woff2");

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "SF-Pro-Display";

  src: url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

body {
  font-family: "Stolzl";
}

h1 {
  font-size: 7.5rem;
  font-weight: 100;
  opacity: 0.73;
  color: white;
  line-height: 100%;
}

.subtitle {
  font-weight: 100;
  opacity: 0.73;
  font-size: 1.875rem;
  color: white;
  line-height: 1.2;
}

.small {
  font-size: 1rem;
  opacity: 0.73;
  font-weight: 200;
  color: black;
  line-height: normal;
}

.title {
  font-family: "Stolzl Book";
  color: black;
  opacity: 0.73;
  font-size: 1.625rem;
}

.link {
  font-family: "Stolzl Book";
  color: white;
  opacity: 0.73;
  font-size: 2.0625rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.link-blue {
  font-family: "Stolzl Book";
  opacity: 0.99;
  color: #0070b7;
  font-size: 1.375rem;
}

.regular {
  color: black;
  opacity: 0.75;
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.15;
}

.regular-22 {
  color: black;
  opacity: 0.75;
  font-weight: 200;
  font-size: 1.375rem;
  line-height: 1.15;
}

.stolzl-book {
  font-family: "Stolzl Book";
}

.regular p {
  opacity: 0.75;
}

@media (max-width: 450px) {
  h1 {
    font-size: 4.375rem;
    opacity: 0.8;
  }

  .title {
    font-size: 1.125rem;
  }

  .subtitle {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.25;
  }

  .regular {
    font-size: 1rem;
    line-height: 1.2;
  }

  .small {
    font-size: 0.75rem;
  }

  .link-blue {
    font-size: 1rem;
  }
}

.pain {
  padding: 1.125rem 1.75rem 1.125rem 2.375rem;
  background-color: #626262;
  border-radius: 1.875rem 1.875rem 1.875rem 0rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.pain p {
  font-size: 1rem;
  opacity: 0.73;
  font-weight: 200;
  color: white;
  line-height: normal;
}

.pain-right {
  padding: 1.125rem 2.375rem 1.125rem 1.75rem;
  border-radius: 1.875rem 1.875rem 0rem 1.875rem;
}

.pain-white {
  background-color: #e8eae7;
}

.pain-white p {
  color: #303030;
  font-size: 1.25rem;
}

.message-block {
  display: flex;
  flex-direction: row;
  -moz-column-gap: -14rem;
       column-gap: -14rem;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.brain-red {
  left: -6%;
  top: -3%;
}

.brain-green {
  right: -6%;
  top: -3%;
}

.comment-block {
  display: flex;
}

.comment {
  display: flex;
  flex-direction: column;
  z-index: 15;
}

.comment-header {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.65);
  border-radius: 1.8125rem 1.8125rem 0 0;
}

.comment-header-name {
  display: flex;
  flex-direction: row;
  gap: 1rem /* 16px */;
  align-items: center;
}

.author {
  font-family: "SF-Pro-Display";
  font-weight: 400;
  font-size: 1.3125rem;
  color: rgba(91, 91, 91, 0.8);
}

.box-shadow {
  box-shadow: 0px 0.25rem 0.2rem 0px rgba(0, 0, 0, 0.25);
}

.comment-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2.5rem 1.5rem 2.5rem;
  border-radius: 0 0 1.8125rem 1.8125rem;
  background-color: rgba(213, 213, 212, 0.8);
}

.quote {
  font-family: "SF-Pro-Display";
  font-weight: 500;
  font-size: 1.125rem;
  color: #5b5b5b;
  line-height: 1.2;
}

.sofia-icon {
  width: 22.375rem;
  height: 22.375rem;
  margin-left: 24.5rem;
  margin-top: 3.8rem;
  position: absolute;
}

@media (min-width: 451px) {
  .pain:hover:nth-child(odd) {
    animation: slide-left 1s ease-in-out infinite alternate;
  }

  .pain:hover:nth-child(even) {
    animation: slide-right 1s ease-in-out infinite alternate;
  }

  .pain:hover {
    background-color: #7e82f6;
  }

  .pain-white:hover:nth-child(odd) {
    animation: slide-left 1s ease-in-out infinite alternate;
  }

  .pain-white:hover:nth-child(even) {
    animation: slide-right 1s ease-in-out infinite alternate;
  }

  .pain-white:hover {
    background-color: #7e82f6;
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-4px);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(4px);
    }
  }
}

@media (max-width: 450px) {
  .pain {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3.175rem 1.875rem 1.875rem 0rem;
  }

  .pain-right {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.875rem 3.175rem 0rem 1.875rem;
  }

  .pain-white {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }

  .pain-white p {
    font-family: "Stolzl Book";
    font-size: 1.125rem;
  }

  .comment-content {
    padding: 1rem 1.25rem 1.5rem 1.25rem;
  }

  .comment-header {
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  }

  .author {
    font-size: 1rem;
  }

  .sofia-icon {
    width: 16.875rem;
    height: 16.875rem;
    margin-left: 8.75rem;
    margin-top: -3.125rem;
  }

  .quote {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-left-\[1rem\] {
  left: -1rem;
}

.-left-\[5\.25rem\] {
  left: -5.25rem;
}

.-top-\[4\.9375rem\] {
  top: -4.9375rem;
}

.-top-\[5\.375rem\] {
  top: -5.375rem;
}

.bottom-0 {
  bottom: 0px;
}

.left-\[19\.6875rem\] {
  left: 19.6875rem;
}

.right-0 {
  right: 0px;
}

.right-\[0\.375rem\] {
  right: 0.375rem;
}

.right-\[17\.8125rem\] {
  right: 17.8125rem;
}

.top-0 {
  top: 0px;
}

.top-\[-0\.6864rem\] {
  top: -0.6864rem;
}

.top-\[1\.375rem\] {
  top: 1.375rem;
}

.top-\[15\.3125rem\] {
  top: 15.3125rem;
}

.top-\[5rem\] {
  top: 5rem;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.z-\[99999\] {
  z-index: 99999;
}

.z-\[9999\] {
  z-index: 9999;
}

.m-0 {
  margin: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-\[1\.125rem\] {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.my-\[4rem\] {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.-ml-\[1\.8438rem\] {
  margin-left: -1.8438rem;
}

.-ml-\[13\.775rem\] {
  margin-left: -13.775rem;
}

.-mt-\[0\.812rem\] {
  margin-top: -0.812rem;
}

.-mt-\[2\.7rem\] {
  margin-top: -2.7rem;
}

.-mt-\[23\.4375rem\] {
  margin-top: -23.4375rem;
}

.-mt-\[9\.912rem\] {
  margin-top: -9.912rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[0\.25rem\] {
  margin-bottom: 0.25rem;
}

.mb-\[1\.125rem\] {
  margin-bottom: 1.125rem;
}

.mb-\[16\.25rem\] {
  margin-bottom: 16.25rem;
}

.mb-\[2\.0625rem\] {
  margin-bottom: 2.0625rem;
}

.mb-\[3\.95rem\] {
  margin-bottom: 3.95rem;
}

.mb-\[49rem\] {
  margin-bottom: 49rem;
}

.mb-\[6\.375rem\] {
  margin-bottom: 6.375rem;
}

.mb-\[9\.3125rem\] {
  margin-bottom: 9.3125rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-\[0\.4375rem\] {
  margin-left: 0.4375rem;
}

.ml-\[0\.4ch\] {
  margin-left: 0.4ch;
}

.ml-\[1\.125rem\] {
  margin-left: 1.125rem;
}

.ml-\[1\.375rem\] {
  margin-left: 1.375rem;
}

.ml-\[1\.75rem\] {
  margin-left: 1.75rem;
}

.ml-\[1\.8125rem\] {
  margin-left: 1.8125rem;
}

.ml-\[10\.9375rem\] {
  margin-left: 10.9375rem;
}

.ml-\[11\.75rem\] {
  margin-left: 11.75rem;
}

.ml-\[12\.75rem\] {
  margin-left: 12.75rem;
}

.ml-\[12\.9375rem\] {
  margin-left: 12.9375rem;
}

.ml-\[2\.125rem\] {
  margin-left: 2.125rem;
}

.ml-\[2ch\] {
  margin-left: 2ch;
}

.ml-\[3\.5rem\] {
  margin-left: 3.5rem;
}

.ml-\[35\.75rem\] {
  margin-left: 35.75rem;
}

.ml-\[43\.75rem\] {
  margin-left: 43.75rem;
}

.ml-\[5\.125rem\] {
  margin-left: 5.125rem;
}

.ml-\[5\.25rem\] {
  margin-left: 5.25rem;
}

.ml-\[5\.5rem\] {
  margin-left: 5.5rem;
}

.ml-\[5\.8125rem\] {
  margin-left: 5.8125rem;
}

.ml-\[6\.4375rem\] {
  margin-left: 6.4375rem;
}

.ml-\[7\.625rem\] {
  margin-left: 7.625rem;
}

.ml-\[7\.75rem\] {
  margin-left: 7.75rem;
}

.ml-\[8rem\] {
  margin-left: 8rem;
}

.ml-\[9\.5rem\] {
  margin-left: 9.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mr-\[1\.0625rem\] {
  margin-right: 1.0625rem;
}

.mr-\[1\.875rem\] {
  margin-right: 1.875rem;
}

.mr-\[13\.9375rem\] {
  margin-right: 13.9375rem;
}

.mr-\[2\.0625rem\] {
  margin-right: 2.0625rem;
}

.mr-\[2\.625rem\] {
  margin-right: 2.625rem;
}

.mr-\[4\.375rem\] {
  margin-right: 4.375rem;
}

.mr-\[4\.4375rem\] {
  margin-right: 4.4375rem;
}

.mr-\[5\.1875rem\] {
  margin-right: 5.1875rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[0\.8125rem\] {
  margin-top: 0.8125rem;
}

.mt-\[1\.3125rem\] {
  margin-top: 1.3125rem;
}

.mt-\[1\.375rem\] {
  margin-top: 1.375rem;
}

.mt-\[1\.5313rem\] {
  margin-top: 1.5313rem;
}

.mt-\[1\.5625rem\] {
  margin-top: 1.5625rem;
}

.mt-\[1\.6875rem\] {
  margin-top: 1.6875rem;
}

.mt-\[2\.1875rem\] {
  margin-top: 2.1875rem;
}

.mt-\[2\.3125rem\] {
  margin-top: 2.3125rem;
}

.mt-\[2\.5rem\] {
  margin-top: 2.5rem;
}

.mt-\[2\.625rem\] {
  margin-top: 2.625rem;
}

.mt-\[2\.75rem\] {
  margin-top: 2.75rem;
}

.mt-\[2\.875rem\] {
  margin-top: 2.875rem;
}

.mt-\[2rem\] {
  margin-top: 2rem;
}

.mt-\[5\.5625rem\] {
  margin-top: 5.5625rem;
}

.mt-\[5\.75rem\] {
  margin-top: 5.75rem;
}

.mt-\[6\.6875rem\] {
  margin-top: 6.6875rem;
}

.mt-\[6\.95rem\] {
  margin-top: 6.95rem;
}

.mt-\[8\.75rem\] {
  margin-top: 8.75rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-\[0\.0625rem\] {
  height: 0.0625rem;
}

.h-\[11\.1719rem\] {
  height: 11.1719rem;
}

.h-\[11\.375rem\] {
  height: 11.375rem;
}

.h-\[11\.8125rem\] {
  height: 11.8125rem;
}

.h-\[11\.9375rem\] {
  height: 11.9375rem;
}

.h-\[13\.25rem\] {
  height: 13.25rem;
}

.h-\[16\.625rem\] {
  height: 16.625rem;
}

.h-\[2\.6875rem\] {
  height: 2.6875rem;
}

.h-\[20\.375rem\] {
  height: 20.375rem;
}

.h-\[20\.875rem\] {
  height: 20.875rem;
}

.h-\[22\.375rem\] {
  height: 22.375rem;
}

.h-\[27\.9375rem\] {
  height: 27.9375rem;
}

.h-\[28\.6875rem\] {
  height: 28.6875rem;
}

.h-\[3\.75rem\] {
  height: 3.75rem;
}

.h-\[30\.4375rem\] {
  height: 30.4375rem;
}

.h-\[47\.25rem\] {
  height: 47.25rem;
}

.h-\[5\.75rem\] {
  height: 5.75rem;
}

.h-\[56\.675rem\] {
  height: 56.675rem;
}

.h-\[60\.338rem\] {
  height: 60.338rem;
}

.h-\[7\.3125rem\] {
  height: 7.3125rem;
}

.h-\[7\.375rem\] {
  height: 7.375rem;
}

.h-\[8rem\] {
  height: 8rem;
}

.h-\[9\.0625rem\] {
  height: 9.0625rem;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.w-9 {
  width: 2.25rem;
}

.w-\[12\.375rem\] {
  width: 12.375rem;
}

.w-\[13\.25rem\] {
  width: 13.25rem;
}

.w-\[13\.9375rem\] {
  width: 13.9375rem;
}

.w-\[2\.75rem\] {
  width: 2.75rem;
}

.w-\[20\.4375rem\] {
  width: 20.4375rem;
}

.w-\[22\.375rem\] {
  width: 22.375rem;
}

.w-\[23\.6875rem\] {
  width: 23.6875rem;
}

.w-\[24\.125rem\] {
  width: 24.125rem;
}

.w-\[24\.375rem\] {
  width: 24.375rem;
}

.w-\[24\.8125rem\] {
  width: 24.8125rem;
}

.w-\[24\.875rem\] {
  width: 24.875rem;
}

.w-\[28\.3125rem\] {
  width: 28.3125rem;
}

.w-\[28\.6875rem\] {
  width: 28.6875rem;
}

.w-\[29\.0625rem\] {
  width: 29.0625rem;
}

.w-\[31\.25rem\] {
  width: 31.25rem;
}

.w-\[31\.313rem\] {
  width: 31.313rem;
}

.w-\[31\.5625rem\] {
  width: 31.5625rem;
}

.w-\[31\.875rem\] {
  width: 31.875rem;
}

.w-\[34\.75rem\] {
  width: 34.75rem;
}

.w-\[37\.5rem\] {
  width: 37.5rem;
}

.w-\[39\.125rem\] {
  width: 39.125rem;
}

.w-\[46\.813rem\] {
  width: 46.813rem;
}

.w-\[7\.375rem\] {
  width: 7.375rem;
}

.w-\[81\.25rem\] {
  width: 81.25rem;
}

.w-\[8rem\] {
  width: 8rem;
}

.w-\[9\.0625rem\] {
  width: 9.0625rem;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.max-w-\[37\.6875rem\] {
  max-width: 37.6875rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.list-decimal {
  list-style-type: decimal;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[2\.6875rem\] {
  gap: 2.6875rem;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[1\.25rem\] {
  border-radius: 1.25rem;
}

.rounded-\[1\.5rem\] {
  border-radius: 1.5rem;
}

.rounded-\[1\.8125rem\] {
  border-radius: 1.8125rem;
}

.rounded-\[1\.875rem\] {
  border-radius: 1.875rem;
}

.border-\[0\.125rem\] {
  border-width: 0.125rem;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-zincDust {
  --tw-border-opacity: 1;
  border-color: rgb(91 91 91 / var(--tw-border-opacity));
}

.bg-\[rgba\(217\2c 217\2c 217\2c 0\.65\)\] {
  background-color: rgba(217,217,217,0.65);
}

.bg-\[rgba\(46\2c 100\2c 126\2c 0\.8\)\] {
  background-color: rgba(46,100,126,0.8);
}

.bg-darkLiver {
  --tw-bg-opacity: 1;
  background-color: rgb(78 79 77 / var(--tw-bg-opacity));
}

.bg-lightGray {
  background-color: rgba(213, 213, 212, 0.99);
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-1-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-1-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-10-block-ad-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-10-block-ad-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-2-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-2-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-3-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-3-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-4-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-4-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-5-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-5-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-7-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-7-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-8-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-8-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/Shot\/shot-9-block-bg\.webp\'\)\] {
  background-image: url('./assets/img/Shot/shot-9-block-bg.webp');
}

.bg-\[url\(\'\.\/assets\/img\/header\.webp\'\)\] {
  background-image: url('./assets/img/header.webp');
}

.bg-\[size\:100\%_100\%\] {
  background-size: 100% 100%;
}

.bg-\[size\:100\%_100\.1\%\] {
  background-size: 100% 100.1%;
}

.bg-\[size\:100\%_100\.2\%\] {
  background-size: 100% 100.2%;
}

.bg-\[size\:100\%_101\%\] {
  background-size: 100% 101%;
}

.bg-cover {
  background-size: cover;
}

.bg-\[position\:center_top_-0\.1rem\] {
  background-position: center top -0.1rem;
}

.bg-\[position\:center_top_0rem\] {
  background-position: center top 0rem;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[0\.4688rem\] {
  padding-left: 0.4688rem;
  padding-right: 0.4688rem;
}

.px-\[1\.125rem\] {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.px-\[1\.3125rem\] {
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
}

.px-\[5\.375rem\] {
  padding-left: 5.375rem;
  padding-right: 5.375rem;
}

.px-\[7rem\] {
  padding-left: 7rem;
  padding-right: 7rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[1\.3125rem\] {
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem;
}

.py-\[1\.375rem\] {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-\[1\.6406rem\] {
  padding-bottom: 1.6406rem;
}

.pb-\[11\.0625rem\] {
  padding-bottom: 11.0625rem;
}

.pb-\[13\.4375rem\] {
  padding-bottom: 13.4375rem;
}

.pb-\[2\.9375rem\] {
  padding-bottom: 2.9375rem;
}

.pb-\[4\.5rem\] {
  padding-bottom: 4.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-\[14\.875rem\] {
  padding-left: 14.875rem;
}

.pl-\[3\.625rem\] {
  padding-left: 3.625rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-\[3\.5625rem\] {
  padding-right: 3.5625rem;
}

.pr-\[4\.5rem\] {
  padding-right: 4.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[0\.875rem\] {
  padding-top: 0.875rem;
}

.pt-\[1\.375rem\] {
  padding-top: 1.375rem;
}

.pt-\[2\.625rem\] {
  padding-top: 2.625rem;
}

.pt-\[6\.125rem\] {
  padding-top: 6.125rem;
}

.pt-\[7\.125rem\] {
  padding-top: 7.125rem;
}

.pt-\[7rem\] {
  padding-top: 7rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-\[0\.875rem\] {
  font-size: 0.875rem;
}

.text-\[1\.0625rem\] {
  font-size: 1.0625rem;
}

.text-\[1\.125rem\] {
  font-size: 1.125rem;
}

.text-\[1\.25rem\] {
  font-size: 1.25rem;
}

.text-\[1\.5rem\] {
  font-size: 1.5rem;
}

.text-\[1\.75rem\] {
  font-size: 1.75rem;
}

.text-\[1rem\] {
  font-size: 1rem;
}

.text-\[2\.5rem\] {
  font-size: 2.5rem;
}

.text-\[2rem\] {
  font-size: 2rem;
}

.text-\[3rem\] {
  font-size: 3rem;
}

.text-\[4\.5rem\] {
  font-size: 4.5rem;
}

.text-\[4rem\] {
  font-size: 4rem;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.not-italic {
  font-style: normal;
}

.leading-\[1\.15\] {
  line-height: 1.15;
}

.leading-\[1\.20\] {
  line-height: 1.20;
}

.leading-\[1\.22\] {
  line-height: 1.22;
}

.leading-\[1\.25\] {
  line-height: 1.25;
}

.leading-\[140\%\] {
  line-height: 140%;
}

.leading-\[1\] {
  line-height: 1;
}

.text-\[rgba\(91\2c 91\2c 91\2c 0\.8\)\] {
  color: rgba(91,91,91,0.8);
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-zincDust {
  --tw-text-opacity: 1;
  color: rgb(91 91 91 / var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-\[0\.5\] {
  opacity: 0.5;
}

.opacity-\[0\.75\] {
  opacity: 0.75;
}

.opacity-\[55\%\] {
  opacity: 55%;
}

.opacity-\[73\%\] {
  opacity: 73%;
}

.margin-top-16 {
  margin-top: 1rem;
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.margin-top-24 {
  margin-top: 1.5rem;
}

.margin-top-48 {
  margin-top: 3rem;
}

.margin-top-8 {
  margin-top: 0.5rem;
}

.margin-bottom-8 {
  margin-bottom: 0.5rem;
}

.margin-left-69 {
  margin-left: 4.3125rem;
}

.margin-right-107 {
  margin-right: 6.6875rem;
}

.margin-left-108 {
  margin-left: 6.75rem;
}

.margin-right-108 {
  margin-right: 6.75rem;
}

.margin-left-60 {
  margin-left: 3.75rem;
}

.margin-left-30 {
  margin-left: 1.875rem;
}

.margin-left-32 {
  margin-left: 2rem;
}

.margin-right-90 {
  margin-right: 5.625rem;
}

.margin-left-13 {
  margin-left: 0.8125rem;
}

.margin-top-8 {
  margin-top: 0.5rem;
}

.margin-right-64 {
  margin-right: 4rem;
}

.pain-opacity {
  transition: opacity 1s ease;
  opacity: 0.8;
}

.pain-opacity-0 {
  transition: opacity 1.3s ease-in;
  opacity: 0%;
}

@media (max-width: 28.125rem) {
  .mob\:stolzl-book {
    font-family: "Stolzl Book";
  }
}

@media (min-width: 28.1875rem) {
  .desk\:stolzl-book {
    font-family: "Stolzl Book";
  }
}

@media (max-width: 28.125rem) {
  .mob\:pain {
    padding: 1.125rem 1.75rem 1.125rem 2.375rem;
    background-color: #626262;
    border-radius: 1.875rem 1.875rem 1.875rem 0rem;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }

  .mob\:pain p {
    font-size: 1rem;
    opacity: 0.73;
    font-weight: 200;
    color: white;
    line-height: normal;
  }

  .mob\:pain-right {
    padding: 1.125rem 2.375rem 1.125rem 1.75rem;
    border-radius: 1.875rem 1.875rem 0rem 1.875rem;
  }

  @media (min-width: 451px) {
    .mob\:pain:hover:nth-child(odd) {
      animation: slide-left 1s ease-in-out infinite alternate;
    }

    .mob\:pain:hover:nth-child(even) {
      animation: slide-right 1s ease-in-out infinite alternate;
    }

    .mob\:pain:hover {
      background-color: #7e82f6;
    }

    @keyframes slide-right {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-4px);
      }
    }

    @keyframes slide-left {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(4px);
      }
    }

    .mob\:pain:hover:nth-child(odd) {
      animation: slide-left 1s ease-in-out infinite alternate;
    }

    .mob\:pain:hover:nth-child(even) {
      animation: slide-right 1s ease-in-out infinite alternate;
    }

    .mob\:pain:hover {
      background-color: #7e82f6;
    }

    @keyframes slide-right {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-4px);
      }
    }

    @keyframes slide-left {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(4px);
      }
    }

    .mob\:pain:hover:nth-child(odd) {
      animation: slide-left 1s ease-in-out infinite alternate;
    }

    .mob\:pain:hover:nth-child(even) {
      animation: slide-right 1s ease-in-out infinite alternate;
    }

    .mob\:pain:hover {
      background-color: #7e82f6;
    }

    @keyframes slide-right {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-4px);
      }
    }

    @keyframes slide-left {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(4px);
      }
    }
  }

  @media (max-width: 450px) {
    .mob\:pain {
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 3.175rem 1.875rem 1.875rem 0rem;
    }

    .mob\:pain-right {
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 1.875rem 3.175rem 0rem 1.875rem;
    }
  }
}

@media (min-width: 28.1875rem) {
  .desk\:message-block {
    display: flex;
    flex-direction: row;
    -moz-column-gap: -14rem;
         column-gap: -14rem;
    position: relative;
  }

  .desk\:comment-block {
    display: flex;
  }

  .desk\:comment {
    display: flex;
    flex-direction: column;
    z-index: 15;
  }

  .desk\:box-shadow {
    box-shadow: 0px 0.25rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  }

  .desk\:comment-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2.5rem 1.5rem 2.5rem;
    border-radius: 0 0 1.8125rem 1.8125rem;
    background-color: rgba(213, 213, 212, 0.8);
  }

  .desk\:quote {
    font-family: "SF-Pro-Display";
    font-weight: 500;
    font-size: 1.125rem;
    color: #5b5b5b;
    line-height: 1.2;
  }

  @media (max-width: 450px) {
    .desk\:comment-content {
      padding: 1rem 1.25rem 1.5rem 1.25rem;
    }

    .desk\:quote {
      font-size: 1rem;
      line-height: 1.2;
    }
  }
}

@media (max-width: 28.125rem) {
  .mob\:absolute {
    position: absolute;
  }

  .mob\:relative {
    position: relative;
  }

  .mob\:-left-\[4\.25rem\] {
    left: -4.25rem;
  }

  .mob\:-top-\[5\.3125rem\] {
    top: -5.3125rem;
  }

  .mob\:-top-\[7\.625rem\] {
    top: -7.625rem;
  }

  .mob\:left-0 {
    left: 0px;
  }

  .mob\:left-\[12\.769rem\] {
    left: 12.769rem;
  }

  .mob\:right-0 {
    right: 0px;
  }

  .mob\:top-8 {
    top: 2rem;
  }

  .mob\:top-\[10\.186rem\] {
    top: 10.186rem;
  }

  .mob\:-z-10 {
    z-index: -10;
  }

  .mob\:z-10 {
    z-index: 10;
  }

  .mob\:order-1 {
    order: 1;
  }

  .mob\:order-2 {
    order: 2;
  }

  .mob\:order-3 {
    order: 3;
  }

  .mob\:m-0 {
    margin: 0px;
  }

  .mob\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mob\:mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .mob\:mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .mob\:mx-\[0\.1875rem\] {
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
  }

  .mob\:mx-\[1\.7188rem\] {
    margin-left: 1.7188rem;
    margin-right: 1.7188rem;
  }

  .mob\:mx-\[1\.7813rem\] {
    margin-left: 1.7813rem;
    margin-right: 1.7813rem;
  }

  .mob\:mx-\[2\.1563rem\] {
    margin-left: 2.1563rem;
    margin-right: 2.1563rem;
  }

  .mob\:mx-\[2\.9063rem\] {
    margin-left: 2.9063rem;
    margin-right: 2.9063rem;
  }

  .mob\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .mob\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mob\:my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mob\:my-\[0\.75rem\] {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .mob\:-mb-\[0\.5625rem\] {
    margin-bottom: -0.5625rem;
  }

  .mob\:-mt-3 {
    margin-top: -0.75rem;
  }

  .mob\:-mt-4 {
    margin-top: -1rem;
  }

  .mob\:-mt-\[0\.1875rem\] {
    margin-top: -0.1875rem;
  }

  .mob\:-mt-\[3\.9375rem\] {
    margin-top: -3.9375rem;
  }

  .mob\:mb-0 {
    margin-bottom: 0px;
  }

  .mob\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .mob\:mb-4 {
    margin-bottom: 1rem;
  }

  .mob\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .mob\:mb-\[0\.625rem\] {
    margin-bottom: 0.625rem;
  }

  .mob\:mb-\[0\.75rem\] {
    margin-bottom: 0.75rem;
  }

  .mob\:mb-\[0\.875rem\] {
    margin-bottom: 0.875rem;
  }

  .mob\:mb-\[1\.125rem\] {
    margin-bottom: 1.125rem;
  }

  .mob\:mb-\[1rem\] {
    margin-bottom: 1rem;
  }

  .mob\:mb-\[8\.375rem\] {
    margin-bottom: 8.375rem;
  }

  .mob\:ml-0 {
    margin-left: 0px;
  }

  .mob\:ml-10 {
    margin-left: 2.5rem;
  }

  .mob\:ml-6 {
    margin-left: 1.5rem;
  }

  .mob\:ml-8 {
    margin-left: 2rem;
  }

  .mob\:ml-\[0\.4063rem\] {
    margin-left: 0.4063rem;
  }

  .mob\:ml-\[0\.4ch\] {
    margin-left: 0.4ch;
  }

  .mob\:ml-\[1\.1ch\] {
    margin-left: 1.1ch;
  }

  .mob\:ml-\[1\.75rem\] {
    margin-left: 1.75rem;
  }

  .mob\:ml-\[3\.625rem\] {
    margin-left: 3.625rem;
  }

  .mob\:ml-\[3\.6875rem\] {
    margin-left: 3.6875rem;
  }

  .mob\:ml-\[4\.0625rem\] {
    margin-left: 4.0625rem;
  }

  .mob\:ml-\[4\.125rem\] {
    margin-left: 4.125rem;
  }

  .mob\:mr-0 {
    margin-right: 0px;
  }

  .mob\:mr-4 {
    margin-right: 1rem;
  }

  .mob\:mr-9 {
    margin-right: 2.25rem;
  }

  .mob\:mr-\[0\.5ch\] {
    margin-right: 0.5ch;
  }

  .mob\:mr-\[0\.9375rem\] {
    margin-right: 0.9375rem;
  }

  .mob\:mr-\[1\.625rem\] {
    margin-right: 1.625rem;
  }

  .mob\:mr-\[1\.8125rem\] {
    margin-right: 1.8125rem;
  }

  .mob\:mr-\[5\.125rem\] {
    margin-right: 5.125rem;
  }

  .mob\:mt-2 {
    margin-top: 0.5rem;
  }

  .mob\:mt-4 {
    margin-top: 1rem;
  }

  .mob\:mt-6 {
    margin-top: 1.5rem;
  }

  .mob\:mt-8 {
    margin-top: 2rem;
  }

  .mob\:mt-\[0\.625rem\] {
    margin-top: 0.625rem;
  }

  .mob\:mt-\[0\.825rem\] {
    margin-top: 0.825rem;
  }

  .mob\:mt-\[1\.875rem\] {
    margin-top: 1.875rem;
  }

  .mob\:mt-\[14\.25rem\] {
    margin-top: 14.25rem;
  }

  .mob\:mt-\[18\.625rem\] {
    margin-top: 18.625rem;
  }

  .mob\:mt-\[1ch\] {
    margin-top: 1ch;
  }

  .mob\:mt-\[25\.75rem\] {
    margin-top: 25.75rem;
  }

  .mob\:mt-\[2ch\] {
    margin-top: 2ch;
  }

  .mob\:mt-\[3\.05rem\] {
    margin-top: 3.05rem;
  }

  .mob\:mt-\[5\.3125rem\] {
    margin-top: 5.3125rem;
  }

  .mob\:mt-\[6\.25rem\] {
    margin-top: 6.25rem;
  }

  .mob\:mt-\[6\.5rem\] {
    margin-top: 6.5rem;
  }

  .mob\:mt-\[7\.988rem\] {
    margin-top: 7.988rem;
  }

  .mob\:mt-\[8\.5rem\] {
    margin-top: 8.5rem;
  }

  .mob\:mt-\[9\.625rem\] {
    margin-top: 9.625rem;
  }

  .mob\:block {
    display: block;
  }

  .mob\:inline-block {
    display: inline-block;
  }

  .mob\:flex {
    display: flex;
  }

  .mob\:hidden {
    display: none;
  }

  .mob\:h-\[10\.5275rem\] {
    height: 10.5275rem;
  }

  .mob\:h-\[16\.875rem\] {
    height: 16.875rem;
  }

  .mob\:h-\[17rem\] {
    height: 17rem;
  }

  .mob\:h-\[2\.125rem\] {
    height: 2.125rem;
  }

  .mob\:h-\[2\.6875rem\] {
    height: 2.6875rem;
  }

  .mob\:h-\[20\.5625rem\] {
    height: 20.5625rem;
  }

  .mob\:h-\[22\.0625rem\] {
    height: 22.0625rem;
  }

  .mob\:h-\[23\.625rem\] {
    height: 23.625rem;
  }

  .mob\:h-\[3\.9663rem\] {
    height: 3.9663rem;
  }

  .mob\:h-\[35\.5rem\] {
    height: 35.5rem;
  }

  .mob\:h-\[49\.6875rem\] {
    height: 49.6875rem;
  }

  .mob\:h-\[4rem\] {
    height: 4rem;
  }

  .mob\:h-\[6\.5169rem\] {
    height: 6.5169rem;
  }

  .mob\:h-\[7\.9375rem\] {
    height: 7.9375rem;
  }

  .mob\:h-\[7rem\] {
    height: 7rem;
  }

  .mob\:h-\[9\.625rem\] {
    height: 9.625rem;
  }

  .mob\:h-auto {
    height: auto;
  }

  .mob\:w-\[11\.4375rem\] {
    width: 11.4375rem;
  }

  .mob\:w-\[16\.875rem\] {
    width: 16.875rem;
  }

  .mob\:w-\[17\.25rem\] {
    width: 17.25rem;
  }

  .mob\:w-\[18\.75rem\] {
    width: 18.75rem;
  }

  .mob\:w-\[19\.0625rem\] {
    width: 19.0625rem;
  }

  .mob\:w-\[19\.6875rem\] {
    width: 19.6875rem;
  }

  .mob\:w-\[2\.1875rem\] {
    width: 2.1875rem;
  }

  .mob\:w-\[2\.75rem\] {
    width: 2.75rem;
  }

  .mob\:w-\[20\.625rem\] {
    width: 20.625rem;
  }

  .mob\:w-\[21\.25rem\] {
    width: 21.25rem;
  }

  .mob\:w-\[21\.5625rem\] {
    width: 21.5625rem;
  }

  .mob\:w-\[21\.875rem\] {
    width: 21.875rem;
  }

  .mob\:w-\[22\.875rem\] {
    width: 22.875rem;
  }

  .mob\:w-\[22\.9375rem\] {
    width: 22.9375rem;
  }

  .mob\:w-\[23\.75rem\] {
    width: 23.75rem;
  }

  .mob\:w-\[23\.8125rem\] {
    width: 23.8125rem;
  }

  .mob\:w-\[26\.125rem\] {
    width: 26.125rem;
  }

  .mob\:w-\[4rem\] {
    width: 4rem;
  }

  .mob\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .mob\:w-full {
    width: 100%;
  }

  .mob\:w-max {
    width: -moz-max-content;
    width: max-content;
  }

  .mob\:flex-col {
    flex-direction: column;
  }

  .mob\:justify-end {
    justify-content: flex-end;
  }

  .mob\:justify-center {
    justify-content: center;
  }

  .mob\:justify-between {
    justify-content: space-between;
  }

  .mob\:gap-0 {
    gap: 0px;
  }

  .mob\:gap-2 {
    gap: 0.5rem;
  }

  .mob\:self-end {
    align-self: flex-end;
  }

  .mob\:rounded-\[0\.75rem\] {
    border-radius: 0.75rem;
  }

  .mob\:border-zincDust {
    --tw-border-opacity: 1;
    border-color: rgb(91 91 91 / var(--tw-border-opacity));
  }

  .mob\:bg-\[rgba\(174\2c 242\2c 2\2c 70\)\] {
    background-color: rgba(174,242,2,70);
  }

  .mob\:bg-\[rgba\(213\2c 213\2c 212\2c 0\.3\)\] {
    background-color: rgba(213,213,212,0.3);
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-1-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-1-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-10-block-bg-ad\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-10-block-bg-ad.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-2-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-2-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-3-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-3-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-4\.1-block-ad-bg\.webp\'\)\2c _url\(\'\.\/assets\/img\/Shot\/shot-4\.3-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-4.1-block-ad-bg.webp'), url('./assets/img/Shot/shot-4.3-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-4\.2-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-4.2-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-4\.3-block-underline\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-4.3-block-underline.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-5-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-5-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-5\.1-block-underline\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-5.1-block-underline.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-5\.2-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-5.2-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-6-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-6-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-7-block-ad-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-7-block-ad-bg.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-8-block-bg-ad\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-8-block-bg-ad.webp');
  }

  .mob\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-9-block-bg-ad\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-9-block-bg-ad.webp');
  }

  .mob\:bg-\[length\:100vw_12\.375rem\] {
    background-size: 100vw 12.375rem;
  }

  .mob\:bg-\[length\:100vw_4\.6875rem\] {
    background-size: 100vw 4.6875rem;
  }

  .mob\:bg-\[length\:28\.125rem_46\.25rem\2c _28\.125rem_28\.325rem\] {
    background-size: 28.125rem 46.25rem, 28.125rem 28.325rem;
  }

  .mob\:bg-\[size\:100\%_100\.2\%\] {
    background-size: 100% 100.2%;
  }

  .mob\:bg-\[size\:100\%_100\.3\%\] {
    background-size: 100% 100.3%;
  }

  .mob\:bg-\[size\:100\%_101\.5\%\] {
    background-size: 100% 101.5%;
  }

  .mob\:bg-\[size\:100\%_104\.6\%\] {
    background-size: 100% 104.6%;
  }

  .mob\:bg-\[size\:100\%_63\.1\%\] {
    background-size: 100% 63.1%;
  }

  .mob\:bg-cover {
    background-size: cover;
  }

  .mob\:bg-\[center_top_-0\.2rem\] {
    background-position: center top -0.2rem;
  }

  .mob\:bg-\[center_top_-0\.65rem\] {
    background-position: center top -0.65rem;
  }

  .mob\:bg-\[center_top_2\.388rem\] {
    background-position: center top 2.388rem;
  }

  .mob\:bg-\[position\:center_top_-0\.2rem\] {
    background-position: center top -0.2rem;
  }

  .mob\:bg-\[position\:center_top_-1\.9rem\] {
    background-position: center top -1.9rem;
  }

  .mob\:bg-\[position\:center_top_-1rem\] {
    background-position: center top -1rem;
  }

  .mob\:bg-\[position\:center_top_0rem\2c center_top_94\.9rem\] {
    background-position: center top 0rem,center top 94.9rem;
  }

  .mob\:bg-no-repeat {
    background-repeat: no-repeat;
  }

  .mob\:p-0 {
    padding: 0px;
  }

  .mob\:p-4 {
    padding: 1rem;
  }

  .mob\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mob\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .mob\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mob\:px-\[1\.3125rem\] {
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
  }

  .mob\:px-\[2\.0625rem\] {
    padding-left: 2.0625rem;
    padding-right: 2.0625rem;
  }

  .mob\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .mob\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .mob\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .mob\:py-\[0\.875rem\] {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }

  .mob\:pb-0 {
    padding-bottom: 0px;
  }

  .mob\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .mob\:pb-8 {
    padding-bottom: 2rem;
  }

  .mob\:pb-\[0\.1875rem\] {
    padding-bottom: 0.1875rem;
  }

  .mob\:pb-\[1\.4744rem\] {
    padding-bottom: 1.4744rem;
  }

  .mob\:pb-\[2\.875rem\] {
    padding-bottom: 2.875rem;
  }

  .mob\:pb-\[3\.5rem\] {
    padding-bottom: 3.5rem;
  }

  .mob\:pb-\[4\.4375rem\] {
    padding-bottom: 4.4375rem;
  }

  .mob\:pb-\[5\.475rem\] {
    padding-bottom: 5.475rem;
  }

  .mob\:pb-\[6\.931rem\] {
    padding-bottom: 6.931rem;
  }

  .mob\:pb-\[9\.099rem\] {
    padding-bottom: 9.099rem;
  }

  .mob\:pb-\[9\.75rem\] {
    padding-bottom: 9.75rem;
  }

  .mob\:pl-\[13\.25rem\] {
    padding-left: 13.25rem;
  }

  .mob\:pt-10 {
    padding-top: 2.5rem;
  }

  .mob\:pt-16 {
    padding-top: 4rem;
  }

  .mob\:pt-20 {
    padding-top: 5rem;
  }

  .mob\:pt-4 {
    padding-top: 1rem;
  }

  .mob\:pt-7 {
    padding-top: 1.75rem;
  }

  .mob\:pt-\[4\.1475rem\] {
    padding-top: 4.1475rem;
  }

  .mob\:pt-\[7\.5rem\] {
    padding-top: 7.5rem;
  }

  .mob\:text-center {
    text-align: center;
  }

  .mob\:text-right {
    text-align: right;
  }

  .mob\:text-\[0\.9375rem\] {
    font-size: 0.9375rem;
  }

  .mob\:text-\[1\.0625rem\] {
    font-size: 1.0625rem;
  }

  .mob\:text-\[1\.125rem\] {
    font-size: 1.125rem;
  }

  .mob\:text-\[1\.25rem\] {
    font-size: 1.25rem;
  }

  .mob\:text-\[1\.3125rem\] {
    font-size: 1.3125rem;
  }

  .mob\:text-\[1\.75rem\] {
    font-size: 1.75rem;
  }

  .mob\:text-\[1rem\] {
    font-size: 1rem;
  }

  .mob\:text-\[2\.5rem\] {
    font-size: 2.5rem;
  }

  .mob\:text-\[3\.5rem\] {
    font-size: 3.5rem;
  }

  .mob\:text-\[3rem\] {
    font-size: 3rem;
  }

  .mob\:font-light {
    font-weight: 300;
  }

  .mob\:uppercase {
    text-transform: uppercase;
  }

  .mob\:text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .mob\:text-zincDust {
    --tw-text-opacity: 1;
    color: rgb(91 91 91 / var(--tw-text-opacity));
  }

  .mob\:opacity-75 {
    opacity: 0.75;
  }

  .mob\:margin-bottom-16 {
    margin-bottom: 1rem;
  }

  .mob\:margin-top-8 {
    margin-top: 0.5rem;
  }

  .mob\:margin-bottom-8 {
    margin-bottom: 0.5rem;
  }

  .mob\:margin-right-16 {
    margin-right: 1rem;
  }

  .mob\:margin-top-8 {
    margin-top: 0.5rem;
  }

  .mob\:margin-right-64 {
    margin-right: 4rem;
  }

  .mob\:margin-right-8 {
    margin-right: 0.5rem;
  }
}

@media (min-width: 28.1875rem) {
  .desk\:absolute {
    position: absolute;
  }

  .desk\:left-\[17\.375rem\] {
    left: 17.375rem;
  }

  .desk\:left-\[24\.625rem\] {
    left: 24.625rem;
  }

  .desk\:right-0 {
    right: 0px;
  }

  .desk\:top-0 {
    top: 0px;
  }

  .desk\:top-12 {
    top: 3rem;
  }

  .desk\:top-\[14\.2462rem\] {
    top: 14.2462rem;
  }

  .desk\:top-\[48\.6229rem\] {
    top: 48.6229rem;
  }

  .desk\:z-0 {
    z-index: 0;
  }

  .desk\:mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .desk\:-ml-\[17rem\] {
    margin-left: -17rem;
  }

  .desk\:mb-\[1\.6875rem\] {
    margin-bottom: 1.6875rem;
  }

  .desk\:ml-4 {
    margin-left: 1rem;
  }

  .desk\:ml-\[21\.1875rem\] {
    margin-left: 21.1875rem;
  }

  .desk\:mr-\[20\.625rem\] {
    margin-right: 20.625rem;
  }

  .desk\:mt-\[14\.338rem\] {
    margin-top: 14.338rem;
  }

  .desk\:mt-\[7\.938rem\] {
    margin-top: 7.938rem;
  }

  .desk\:flex {
    display: flex;
  }

  .desk\:hidden {
    display: none;
  }

  .desk\:items-center {
    align-items: center;
  }

  .desk\:justify-end {
    justify-content: flex-end;
  }

  .desk\:gap-5 {
    gap: 1.25rem;
  }

  .desk\:gap-8 {
    gap: 2rem;
  }

  .desk\:rounded-\[1\.8125rem\] {
    border-radius: 1.8125rem;
  }

  .desk\:bg-\[url\(\'\.\/assets\/img\/Shot\/shot-6-block-bg\.webp\'\)\] {
    background-image: url('./assets/img/Shot/shot-6-block-bg.webp');
  }

  .desk\:bg-\[size\:100\%_100\.3\%\] {
    background-size: 100% 100.3%;
  }

  .desk\:px-\[4\.125rem\] {
    padding-left: 4.125rem;
    padding-right: 4.125rem;
  }

  .desk\:pb-28 {
    padding-bottom: 7rem;
  }

  .desk\:pb-\[1\.875rem\] {
    padding-bottom: 1.875rem;
  }

  .desk\:pl-12 {
    padding-left: 3rem;
  }

  .desk\:pl-8 {
    padding-left: 2rem;
  }

  .desk\:pt-\[6rem\] {
    padding-top: 6rem;
  }

  .desk\:text-\[1\.125rem\] {
    font-size: 1.125rem;
  }
}
